<div class="page-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12">
          <h3 class="page-title"> Courses View <small>View/Add/Edit/Delete</small> </h3>
          <ul class="breadcrumb">
            <li> <i class="icon-user"></i> <a href="courses">View Courses</a> <span class="icon-angle-right"></span> </li>
            <li> <a href="">View Course Info</a> </li>
          </ul>
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12">
          <div class="tabbable tabbable-custom boxless">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Course</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div class="portlet box blue">
                  <div class="portlet-title">
                    <h4><i class="icon-reorder"></i>Course Info</h4>
                    <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
                  </div>
                  <div class="portlet-body form">
                    {{#if error}}
                        <div class="alert alert-error"><button class="close" data-dismiss="alert"></button>{{error}}</div>
                    {{/if}}
                    {{#if success}}
                        <div class="alert alert-success"><button class="close" data-dismiss="alert"></button>{{success}}</div>
                    {{/if}}
                    <div class="alert alert-error hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="err_msg"></span> </div>
                    <div class="alert alert-success hide">
                      <button class="close" data-dismiss="alert"></button>
                      <span id="suc_msg"></span> </div>
                    <!-- BEGIN FORM-->
                    
                    <!-- END FORM--> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>