.none{
	display:none;
}
.hand{
	cursor: pointer;
}



.header .navbar-inner {
    height: 42px !important;
}
body {
    background-color: #3d3d3d !important;
}
.fixed-top .page-container {
    margin-top: 42px;
}

.page-sidebar > ul > li > a {
    border-top: 1px solid #595959 !important;
    color: #fff !important;
}
.page-sidebar > ul > li.active > a i {
    color: #fff;
}
/*.page-sidebar > ul > li > a i {
     color: #fff !important; 
}*/
.page-sidebar > ul > li > ul > a:hover {
    background: #4b4b4b !important;
	color: #fff !important; 
}
.page-sidebar > ul > li.has-sub.open >a, .page-sidebar > ul > li >a:hover, .page-sidebar > ul > li:hover>a {
    background: #313131 !important; 
}

.page-sidebar > ul > li > ul.sub {
    display: none;
    list-style: none;
    clear: both;
    margin: 8px 0px 8px 0px;
}
.page-sidebar > ul > li > ul.sub > li {
    background: none;
    margin: 0px;
    padding: 0px;
    margin-top: 1px !important;
}
.page-sidebar > ul > li > ul.sub > li > a {
    color: #fff;
    margin-left: 0px;
    padding-left: 5px;
}
.page-sidebar > ul > li > ul.sub > li > a:hover {
    background: #4b4b4b !important;
	color: #fff !important;
}

.page-sidebar > ul > li > ul.sub > li.active > a, .page-sidebar > ul > li > ul.sub > li > a:hover {
    color: #fff !important;
    background: #4b4b4b !important;
}

.page-sidebar ul > li.active > a .arrow:before, .page-sidebar > ul > li.active > a .arrow.open:before {
    color: #fff !important;
}


.page-sidebar > ul > li.active > a, page-sidebar > ul > li.active > a:hover {
    background: #e02222 !important;
  
}

	
table.dataTable thead {
	background-color: #35aa47;
	color:white;
  }

@media (max-width:979px) { 
	.page-sidebar {
		background: #3d3d3d !important;
		color: #fff !important;
	}
	.page-sidebar.in {
		border-top: 1px solid;
	}
	/*  .header .navbar-inner {
	   height: 42px !important;
	}
	body {
		background-color: #3d3d3d !important;
	}
	.fixed-top .page-container {
		margin-top: 42px;
	}

	.page-sidebar > ul > li > a {
		border-top: 1px solid #595959 !important;
		color: #fff !important;
	}
	.page-sidebar > ul > li.active > a i {
		color: #fff;
	}
	.page-sidebar > ul > li > ul > a:hover {
		background: #4b4b4b !important;
		color: #fff !important; 
	}
	.page-sidebar > ul > li.has-sub.open >a, .page-sidebar > ul > li >a:hover, .page-sidebar > ul > li:hover>a {
		background: #313131 !important;
	}
	.page-sidebar > ul > li > ul.sub {
		display: none;
		list-style: none;
		clear: both;
		margin: 8px 0px 8px 0px;
	}
	.page-sidebar > ul > li > ul.sub > li {
		background: none;
		margin: 0px;
		padding: 0px;
		margin-top: 1px !important;
	}
	.page-sidebar > ul > li > ul.sub > li > a {
		color: #fff;
		margin-left: 0px;
		padding-left: 5px;
	}
	.page-sidebar > ul > li > ul.sub > li > a:hover {
		background: #4b4b4b !important;
		color: #fff !important;
	}*/
}

@media (max-width: 480px) {
.page-sidebar.in {
    border-top: 1px solid;
}
}